@media (max-width: 767px) {
    #parte_derecha {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1500px;
    }
}


li, h1, h2, h3, h4, p { text-align: left;}

.highlight { font-weight: bold;}

figcaption { font-size: 0.80em; }




.content-wrapper {
    height: 100vh;
    /* Ajusta según necesites */
    overflow-y: auto;
    /* Activa el scroll vertical */
}

main {
    padding: 1em;
    /* Añade un poco de espacio interno */
}

