
            h3,
            h4,
            p {
                text-align: left;
            }

            img{padding: 0.1em;}


            .carousel-item a img {
                max-height: 300px;

            }

            body{
                background-color: white;
            }

            nav {
                background-color: #34495e;
                padding: 10px;
                text-align: center;
            }
        
            nav a {
                color: #ecf0f1;
                text-decoration: none;
                margin: 0 15px;
                font-weight: bold;
            }
            