
            h3,
            h4,
            p {
                text-align: left;
            }

            img{padding: 1em;}


            .carousel-item a img {
                max-height: 300px;

            }

            body{
                background-color: white;
            }


            